ul {
    margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
    display: inline-block;
  font-size: small;
  color: black;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#EEE;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  text-decoration: none !important;
}

a:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}